nav {
    padding: 1.75em;
    padding-bottom: 2.25em;
    background-color: #000;
    color: #eee;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}

nav h1 {
    font-weight: 300;
}

.links {
}

.links a {
    padding: 6px;
    margin-right: 1em;
    text-decoration: none;
    font-size: 0.75em;
    color: #999;
}


.links a:hover {
    color: #eee;
    text-decoration: underline;
}