.nav{
    display: inline-flex;
    padding: 2em;
}

.ul{
    margin: auto;
    padding: 0px 15px 0px 15px;
    width: fit-content;
    display: inline-flex;
    flex-wrap: wrap;
}

.links{
    list-style-type: none;
    padding: 1em;
    width: fit-content;
}
