/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0px;
  background-color:  #333;

  /* Font Styling for rendered components */
  color: #eee;
  letter-spacing: 0.25em;
}

.App {
  /* text-align: center; */
  /* Using font imported from Google Font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Segoe UI Serif';
  margin: 0px 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Others */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
